.BigLetter {
  font-size: 10em;
  font-weight: bold;
  transform: scale(0);
  opacity: 0;
  display: block;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0 0.05em 0.1em rgba(0, 0, 0, 0.5);

  &.show {
    animation: letter-show 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  }

  &.hide {
    animation: letter-hide 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  }
}

@keyframes letter-show {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes letter-hide {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
